body {
    background-image: url(背景.JPG);
    background-size: cover;
}

.假外框 {
    height: 1300px;
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.真外框 {
    background-color: rgb(242, 230, 216);
    min-height: 1300px;
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    opacity: 0.7;
}

.搜索栏 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.假介绍框 {
    height: 350px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border-radius: 20px;
}

.真介绍框 {
    height: 350px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    opacity: 0.7;
    box-shadow: 10px 10px 20px black;
}

.头像 {
    height: 100px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border-radius: 20px;
}

.头像图 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

.痛 {
    height: 40px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border-radius: 20px;
}

.monly {
    position: absolute;
    top: -10px;
    left: 30px;
}

.tong {
    display: flex;
    justify-content: center;
}

.图标 {
    width: 220px;
    height: 130px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.tb1 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 10px;
}

.tb2 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.tb3 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: 10px;
}

.tb4 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 70px;
}

.tb5 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}

.tb6 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: 70px;
}

.下箭头 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 470px;
}

.文章框 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 550px;
}

.文章1 {
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    border-radius: 20px;
    display: flex;
}

.文章1左 {
    width: 130px;
    height: 200px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
}

.文章1右上 {
    width: 210px;
    height: 60px;
    position: relative;
    left: 10px;
}

.文章1右下 {
    width: 210px;
    height: 140px;
    position: absolute;
    top: 60px;
    left: 140px;
}

.文章2 {
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    border-radius: 20px;
    display: flex;
}

.文章2左 {
    width: 130px;
    height: 200px;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    background-size: contain;
}

.文章2右上 {
    width: 210px;
    height: 60px;
    position: relative;
    left: 10px;
}

.文章2右下 {
    width: 210px;
    height: 140px;
    position: absolute;
    top: 60px;
    left: 140px;
}