.input {
    max-width: 190px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #e2b5b5;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #b38787;
    outline: none;
    transition: ease 0.25s;
}

.input:focus {
    box-shadow: 5.5px 7px 0 rgb(221, 122, 122);
}